.arrow {
    position: relative;
  }
  
  .arrow span {
    background-color: var(--color-0000);
    border-radius: 4px;
    display: inline-block;
    width: 8px;
    height: 1.5px;
    transition: all 300ms;
  }
  
  .arrow--up span {
    position: absolute;
    top: 0;
  }
  
  .arrow--up span:first-child {
    right: 7px;
    transform: rotate(-45deg);
  }
  
  .arrow--up span:last-child {
    right: 2px;
    transform: rotate(45deg);
  }
  