.main__hero{
    padding-top: 76px;
    padding-bottom: 80px;
}

.main__hero-question {
    background: var(--branding-color-primary-gradient, linear-gradient(270deg, #0074BC 0%, #00AEEF 100%));

    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-weight: 700;
    margin-bottom: 28px;
    text-transform: uppercase;
}

.main__hero-title{
    color: var(--color-ffff);
    font-size: var(--px-32);
    font-weight: 700;
    line-height: var(--px-40);
    margin-bottom: 56px;
}

.main__hero-text{
    color: var(--color-F1F4);
    margin-bottom: 32px;
}

.main__highlights-title{
    color: var(--color-ffff);
    font-size: var(--px-22);
    font-weight: 700;
    line-height: var(--px-30);
    margin-bottom: 24px;
}


.main__news {
    margin-top: 56px;
    margin-bottom: 72px;
  }
  
  .main__news-title {
    color: var(--color-0000);
    font-size: var(--px-22);
    font-weight: 700;
    line-height: var(--px-30);
    margin-bottom: 16px;
  }
  
  @media (min-width: 768px) {
    .main__news-title {
      font-size: var(--px-28);
      line-height: var(--px-36);
    }
  }

  
.main__insights {
  background-color:  var(--color-1627);
  margin-bottom: 72px;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .main__insights {
    padding-bottom: 86px;
  }
}

.main__insights .container-insights {
  display: none;
}

@media (min-width: 1025px) {
  .main__insights .container-insights {
    position: absolute;
    width: 1260px;
    top: 87px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 0;
  }
}

@media (min-width: 1440px) {
  .main__insights .container-insights {
    width: 1440px;
  }
}

.main__insights-title {
  color: var(--color-ffff);
  font-size: var(--px-28);
  font-weight: 700;
  line-height: var(--px-36);
  text-align: center;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .main__insights-title {
    font-size: var(--px-40);
    line-height: var(--px-48);
  } 
}

@media (min-width: 1025px) {
  .main__insights-title {
    font-size: var(--px-40);
    line-height: var(--px-48);
    position: relative;
    z-index: 2;
  }
}

.main__insights-title span {
  color: var(--color-AEEF);
  font-size: var(--px-28);
  line-height: var(--px-36);
}

@media (min-width: 768px) {
  .main__insights-title span {
    display: block;
    font-size: var(--px-40);
    line-height: var(--px-48);
  }

  .main__insights-title br {
    display: none;
  }
}

.main__insights-text {
  color: var(--color-F1F4);
  margin-bottom: 20px;
  text-align: center;
}

.main__insights-text:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .main__insights-text {
    max-width: 594px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (min-width: 1025px) {
  .main__insights-text {
    position: relative;
    z-index: 2;
  }
}

.main__insights-text a {
  color: var(--color-F1F4);
  font-weight: 700;
  text-decoration: none;
  transition: all 200ms;
}

.main__insights-text a:hover {
  color: var(--color-B2BC);
}
